html{
    height: 1080px;
}

body{
    height: 100%;
}

header{
    background-image: url("../img/pattern.png");
    background-color: rgb(112, 163, 250);
    height: 16%;
}

header > img{
    height: 50%;
    position: relative;
    top: 80px;
    left: 10px;
}

h1{
    font-size: 65px;
    position: relative;
    top: -20px;
}

.autore{
    position:relative;
    top: -60px;
    left: 10px;
    font-size: 20px;
    color: grey;
}

.autore > span{
    color: rgb(93, 193, 255);
}
