html{
    height: 1080px;
    width: 1920px;
}

body{
    height: 100%;
    width: 100%;
}

header{
    background-image: url("../img/pattern.png");
    background-color: rgb(112, 163, 250);
    height: 16%;
}

header > img{
    height: 50%;
    position: relative;
    top: 80px;
    left: 10px;
}

h1{
    font-size: 65px;
    position: relative;
    top: -20px;
}

.autore{
    position:relative;
    top: -60px;
    left: 10px;
    font-size: 20px;
    color: grey;
}

.autore > span{
    color: rgb(93, 193, 255);
}

.img1{
    width: 50%;
}

.img2{
    width: 42.75%;
}

.lorem{
    font-size: 26px;
    width: 95%;

}

li{
    font-size: 22px;
    position: relative;
    left: -18px;
}

.sinistra{
    position: relative;
    text-align: left;
}

.centro{
    position: relative;
    text-align: left;
    width: 25%;
}

.destra{
    text-align: left;
    position: relative;
    width: 50%;
}

table{
    width: 100%;
    font-size: 20px;
    border: 1px solid rgb(255, 255, 255);
    border-collapse: collapse;
}

tbody{
    width: 100%;
}
thead{
    width: 100%;
}

.tr1{
    background-color:rgb(105, 169, 209);
    color: white;
}
.tr2, .tr4{
    background-color:lightblue;
}

.td{
    border: none;
}

.lorem2{
    font-size: 24px;
}

footer > span{
    color: grey;
    font-size: 24px;
    font-weight: bold;
}